{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Bonjour {{ nom }} ! </h1>
        
        <p>
				Bienvenue sur le site de Reiki.fr :D
        </p>
    </body>
</html>